
/**
    Diseño inspirado del tutorial de youtube:
    https://www.youtube.com/watch?v=LC9GaXkdxF8
 */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    background-color: #F3F3F3;
}

.wrapper-main {
    width: 62.5%;
    margin: auto;
}

header {
    width: 98%;
    height:  6ch;
    padding: 0 10px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header-main {
    height: 80%;
    display: flex;
}

.header-logo {
    width: 48px;
    padding-right: 6%;
}

.nav-header-main img {
    height: 100%;
}

.nav-header-main ul {
    height: 100%;
}

.nav-header-main ul li {
    list-style: none;
    float: left;
    height: 100%;
}

.nav-header-main ul li a {
    height: 100%;
    line-height: 300%;
    font-family: arial, serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

.header-login {
    height: 60%;
    display: flex;
    flex-direction: row;
}

.header-login form {
    height: 100%;
}

.header-login form input {
    height: 100%;
    padding: 0 15px;
    border: none;
    border-radius: 4px;
    background-color: #F6F6F6;
    font-family: arial, serif;
}

.header-login form button {
    height: 100%;
    padding: 0 15px;
    border: Menu;
    border-radius: 4px;
    background-color: #333;
    margin-left: 8px;
    font-family: arial, serif;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}

.header-signup {
    height: 100%;
    width: 10%;
    padding: 0 6px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-family: arial, serif;
    font-size: 13px;
    line-height: 36px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
}

main {
    padding-top: 2%;
}

.section-default {
    width: 100%;
    padding: 2%;
    border-radius: 6px;
    background-color: #FFF;
}

.login-status {
    text-align: center;
    font-size: 24px;
    font-family: arial, serif;
    color: #111;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-family: arial, serif;
    color: #111;
}

/* signup.php */

.form-signup {
    margin: 0 auto;
    padding-top: 20px;
    width: 40%;
    text-align: center;
}

.form-signup input {
    width: 98%;
    height: 38px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    float: left;
    font-family: arial, serif;
}

.form-signup button {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #333;
    font-family: arial, serif;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}

/* index.php -> add-products */
.form-add-product {
    margin: 0 auto;
    padding-top: 2%;
    width: 25%;
    text-align: center;
}

.form-add-product input {
    width: 90%;
    height: 30px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    float: left;
    font-family: arial, serif;

}

.form-add-product button {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #333;
    font-family: arial, serif;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}


/* index.php -> show-products */

.table-show-products {
    padding-top: 20px;
    width: 100px;
    text-align: center;
    margin-left: 10%;
    padding-left: 0.5em;
}

.table-show-products input {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    float: left;
    font-family: arial, serif;

}

.table-show-products table {
    height: 30px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    font-family: arial, serif;
}

.table-show-products th, td {
    padding: 4px 20px;
}

.table-show-products button {
    display: block;
    height: 30px;
    padding: 0 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #333;
    font-family: arial, serif;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}
